@model _23Dh110315_Store.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class=" bg-success">CẬP NHẬT DANH MỤC</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal for">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CategoryID)

        @* Nhúng  Partial View vaof form cha *@
        @Html.Partial("PVCreDitCategory", Model)
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}